<%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <main class="container mx-auto bg-white shadow-2xl rounded-2xl p-10 mt-10 w-full">
       <h2 class="text-5xl text-red-500 font-extrabold text-center mb-12 tracking-tight drop-shadow">You are in Home details page</h2>
      <div class="grid gap-12 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
        
      </div>
    </main>
  </body>
</html>